<footer class="footer bg-dark py-3 text-bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-bg-dark">TodoNote</h4>
        <p class="text-bg-dark">Your trusted platform for managing tasks and notes.</p>
        <p class="text-bg-dark">Made with ❤️</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-bg-dark">Explore</h4>
        <ul class="list-unstyled text-bg-dark">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'notes:about' %}">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-bg-dark">Connect with Us</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/moti9"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://www.github.com/moti9"><i class="fab fa-linkedin"></i> Github</a></li>
          <li><a href="https://www.twitter.com/moti_kumar_"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://instagram.com/moti9_m"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="https://www.facebook.com/moti9.m/"><i class="fab fa-facebook"></i> Facebook</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-dark">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-bg-dark">&copy; 2023 TodoNote</p>
        <p class="text-bg-dark">Contact us at: <a href="mailto:contact@todonote.com">contact@todonote.com</a></p>
      </div>
    </div>
  </div>
</footer>